.header-container {
  background-color: #fff;
  padding: var(--container-3x);
}
.header-navbar {
  padding: 16px 0;
  color: #333;
  text-transform: uppercase;
}
.headerItems-d {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
