.products-bgColor {
  background-color: var(--silver-secondary);
  height: 100vh;
}
.productsView {
  background-color: #fff;
  border-radius: 10px;
  margin: 8px;
  padding: 20px;
}
.products-cardBody {
  width: 200px;
  padding: 16px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.products-cardImage {
  width: 100%;
}
.products-cardImage img {
  width: 100%;
}

.productItem {
  width: 80px;
}
.productItem img {
  width: 100%;
}

.products-cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.products-controlBar-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table {
  background-color: #e0e0e0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: #fff;
  border-right: #fff;
  margin-top: 16px;
  width: 100%;
  color: #333;
}
thead {
  background-color: #e0e0e0;
  line-height: 3;
  font-size: 14px;
}
tbody {
  background-color: #fff;
}

td {
  font-size: 14px;
  text-align: center;
  line-height: 2;
}
.productName {
  width: 80px;
}
.productsCategory-table {
  padding: 3px 10px;
  background-color: var(--blue-color);
  color: #fff;
  border-radius: 3px;
}

.productsBtn-table {
  width: 50px;
}
.productsBtn-table button {
  cursor: pointer;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
}
.products-controlBar-addBtn {
  margin-bottom: 10px;
}
.products-controlBar-addBtn button {
  padding: 8px 16px;
  background-color: var(--blue-color);
  color: #fff;
}
